/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #555;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset End */


/* Responsive web forms formula */
/* target ÷ context = result */
/* 	
	target = Breite/Höhe in einer festen Angabe (z.B.: px)
	context = Gesamtbreite/-höhe des Containers
	result = Resultat nach Konvertierung
*/


/* Media Types: all, screen, print, tv, braille (HTML5: 3d-glasses) */
/* Mobile devices: @media all and (orientation: landscape) [oder portrait] {...}*/


/* Default styles first then media queries */
section, aside {
  margin: 1.51515151%;
}

body {
	background: #f00;
}

@media all and (min-width: 420px) {
  .container {
    max-width: 660px;
  }
  section {
    float: left;
    width: 63.63636363%;
  }
  aside {
    float: right;
    width: 30.30303030%;
  }
}


@media screen and (min-width: 400px)  { 
	body {
	/* Mobile, smaller viewport, constrained bandwidth */
		background: #ddd;
	}
}


@media screen and (min-width: 600px)  {
	body {
	/* Larger Viewport more bandwidth */
		background-image: url("bg.jpg") no-repeat;
	}
}
/* Needs to be filled with content @TODO */
